.BODY__TUTORIALS {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WORKTABS__TAB {
    display: flex;
    align-items: baseline;
}

.WORKTABS a {
    margin-left: 10px;
}

iframe {
    margin: 10px;
}