/* ________SETUP________ */

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Kanit', sans-serif;
  background: darkblue;
  color: white;
}

h3 {
  color: darkblue;
}

a {
  color: white;
  text-decoration: none;
}

p {
  color: white;
  padding: 10px;
}

.container {
  width: 100%;
}

.TUTORIALS__YOUTUBE {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 0 20px 0;
}

iframe {
  margin-top: 0;
}

/* ________HEADER________ */
.HEADER {
  display: flex;
  justify-content: space-between;
}

.HEADER__IMG{
  height: 220px;
  width: 418px;
}

.HEADER__TEXT {
  background: darkred;
  width: 220px;
  padding: 0px 10px 0px 10px;
}
@media (max-width: 880px) {

}

@media (max-width: 768px) {
  .HEADER {
    flex-direction: column;
  }
  .HEADER__IMG {
    height: 112px;
    width: 220px;
  }
}

@media (max-width: 400px) {
  .HEADER {
    flex-direction: column;
  }
  .HEADER__IMG {
    height: 112px;
    width: 220px;
  }
}

/* ________MAIN CONTENT________ */

.CONTENTBG {
  background: darkred;
}

.MAIN h3, .CONTACT h3 {
  width: 100%;
  background-color: gray;
  padding: 10px;
}

@media (max-width: 880px) {
  .TUTORIALS__YOUTUBE {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 400px) {

}

/* ________CONTACT________ */


@media (max-width: 880px) {

}

@media (max-width: 768px) {

}

@media (max-width: 400px) {

}

/* ________FOOTER________ */

.FOOTER {
  display: flex;
  justify-content: center;
}

@media (max-width: 880px) {

}

@media (max-width: 768px) {

}

@media (max-width: 400px) {

}